streamlit
smolagents[toolkit,mcp]
transformers
accelerate
bitsandbytes
psutil
wikipedia-api
twisted
numpy
Pyro5
numba
SciFiReaders
sidpy
scipy
matplotlib
scikit-image
pyTEMlib
pydantic
pydantic-settings
pytest
fastapi
uvicorn
python-multipart
pyyaml
graphviz
pydot
